html, body, #map {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Titillium Web', serif;
}

#info {
  z-index: 1000;
  position: absolute;
  width: 500px;
  top: 1%;
  bottom: 1%;
  left: .5%;
  padding: 40px 15px 0px 15px;
  background: #006d77;
  color: white;
}

#countylist {
  z-index: 1000;
  position: absolute;
  width: 200px;
  top: 1%;
  bottom: 5%;
  left: .5%;
  padding: 20px 15px 0px 15px;
  background: #006d77;
  color: white;
}

@media only screen and (max-width: 1026px) {
  #info, {
    visibility: hidden !important;
  }
}

#info a {
  color: lightgray;
}

#info a:hover {
  color: white;
  opacity: 0.3;
}

#info h4 i {
  font-size: 1.25e;
  padding-right: 10px
}


#title {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}
#title2 {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 15px;
  text-align: center;
  background-color: #83c5be;
  border: 1.5px solid;
  border-color: #e29578;
  padding: 5px 0 5px 0;
  
}


/* social media icons */
#title span {
  font-size: 14px;
  float: right;
  margin-right: 10px;
}

#placename {
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
}

/* card decks */
#desc {
  text-align: center;
  color: lightgray;
  font-size: medium;
  font-weight: bold;
}

#access-count {
  margin:0;
  text-align: center;
  color: #e29578;
  font-size: 50px;
}
#disaccess-count {
  margin:0;
  text-align: center;
  color: #e29578;
  font-size: 50px;
}
#percent {
  margin:0;
  text-align: center;
  color: #e29578;
  font-size: 50px;
}

#county-chart {
  top: 20px;
}
#mapButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  z-index: 400;
  color: black;
  background-color: #83c5be;
}

#footer {
  margin-top: 50px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 150%;
  color: lightgray;
}

.legend {
    line-height: 16px;
    width: 180px;
    color: #333333;
    font-family: 'Titillium Web', sans-serif;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;

}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.legend img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    float: left;
}

.legend p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.leaflet-tooltip.feature-label {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 0 0 2px #FFFFFF;
    color: rgba(35, 35, 35, 0.78)
}
