html, body, #map {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', serif;
}

#info {
  z-index: 1000;
  position: absolute;
  width: 500px;
  top: 1%;
  bottom: 1%;
  left: .5%;
  padding: 40px 15px 0px 15px;
  background: #05668d;
  color: white;
}

#countylist {
  z-index: 1000;
  position: absolute;
  width: 200px;
  top: 1%;
  bottom: 5%;
  left: .5%;
  padding: 20px 15px 0px 15px;
  background: #05668d;
  color: white;
}


@media only screen and (max-width: 1026px) {
  #info {
    width: 0;
    height: 0;
    visibility: hidden !important;
  }

  #info * {
    width: 0;
    height: 0;
    visibility: hidden !important;
  }
}

@media only screen and (max-width: 1026px) {
  #countylist {
    width: 0;
    height: 0;
    visibility: hidden !important;
  }

  #countylist * {
    width: 0;
    height: 0;
    visibility: hidden !important;
  }
}

#info a {
  color: lightgray;
}

#info a:hover {
  color: white;
  opacity: 0.3;
}

#info h4 i {
  font-size: 1.25e;
  padding-right: 10px
}


#title {
  font-size: 23px;
  font-family: 'Merriweather';

}
#title2 {
  font-size: 23px;
  font-family: 'Merriweather';
  margin-bottom: 15px;
  text-align: center;
  background-color: #269CE9;
  border: 1.5px solid;
  border-color: #f0f3bd;
  padding: 5px 0 5px 0;

}


/* social media icons */
#title span {
  font-size: 14px;
  float: right;
  margin-right: 10px;
}

#placename {
  font-size: 35px;
  font-family: 'Merriweather';
  padding-bottom: 50px;
}

/* card decks */
#desc {
  text-align: left;
  color: lightgray;
  font-size: medium;
  font-weight: bold;
  margin-left: 50px;
}

#access-count {
  margin:0;
  text-align: left;
  color: #f0f3bd;
  font-size: 40px;
  margin-left: 275px;
}
hr {
  margin-left: 50px;
  margin-right: 75px;
}
#disaccess-count {
  margin:0;
  text-align: left;
  color: #f0f3bd;
  font-size: 40px;
  margin-left: 275px;
}
#percent {
  margin:0;
  text-align: left;
  color: #f0f3bd;
  font-size: 40px;
  margin-left: 275px;
}
.info_hr {
  border: 1px solid;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  border-radius: 25px;
}

#county-chart {
  top: 20px;
}
#mapButton {
  position: absolute;
  top: 91%;
  right: 70%;
  padding: 10px;
  z-index: 400;
  color: white;
}

#footer {
  margin-top: 50px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 150%;
  color: lightgray;
}

.legend {
    line-height: 16px;
    width: 180px;
    color: #333333;
    font-family: 'Arial', sans-serif;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;


}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.legend img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    float: left;
}

.legend p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.leaflet-tooltip.feature-label {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    text-shadow: 0 0 2px #FFFFFF;
    color: rgba(35, 35, 35, 0.78)
}
